* {
    margin: 0;
}
body {
    /* align-content: center;
    justify-content: center;
    grid-template-rows: 500px;
    grid-template-columns: 1fr 1fr 1fr;*/

    background-color: rgb(0, 0, 0);
    color: ghostwhite;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: -1.8px;
}
@font-face {
    font-family: "Terminal Grotesque Open";
    src: url("TerminalGrotesque-Open.woff2") format("woff2"),
        url("TerminalGrotesque-Open.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Druk Wide Cy Web";
    src: url("DrukWideCyWeb-Bold.woff2") format("woff2"),
        url("DrukWideCyWeb-Bold.woff") format("woff"),
        url("DrukWideCyWeb-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    text-transform: uppercase;
}
/*audio {
    filter: pink(80%) saturate(70%) grayscale(10) contrast(99%) invert(12%);
    border-radius: 0%;
    width: 400px;
    height: 35px;
}*/
audio {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -moz-box-shadow: 2px 2px 4px 0px #f5139e;
    -webkit-box-shadow: 2px 2px 4px 0px #9b59f0;
    box-shadow: 2px 2px 4px 0px #c74df7;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    -webkit-filter: invert(100%) !important;
}
audio:hover,
audio:focus,
audio:active {
    -webkit-box-shadow: 15px 15px 20px rgba(240, 222, 252, 0.4);
    -moz-box-shadow: 15px 15px 20px rgba(222, 198, 245, 0.4);
    box-shadow: 15px 15px 20px rgba(243, 220, 248, 0.4);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}
video {
    position: relative;
    left: 180px;
    outline: 0px;
}
select {
    font-size: 15px;

    width: 400px;
    height: 20px;
}
input {
    width: 350px;
    height: 20px;
}

#divider {
    length: 100vh;
    width: 10px;
    left: 300px;
    background-color: rgb(120, 248, 46);
}
h1 {
    font-size: 35px;
}
#line {
    position: fixed;
    top: 300px;
    width: 100%;
    z-index: 10;
}
#chat-room h1 {
    font-family: "Terminal Grotesque Open";
    font-size: 40px;
    letter-spacing: -1.5px;
    padding-top: 5px;
}
#backgroundimage {
    position: fixed;
    top: 3px;
    left: 0;
}
#backgroundimage:hover {
    -webkit-filter: invert(100%) !important;
}
.background3:hover {
    -webkit-filter: invert(100%) !important;
}
.background3 {
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    z-index: 40;

    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0px;
    left: 550px;
}
#logoinwelcome {
    z-index: 100;
    position: fixed;
    top: 0px;
    left: 350px;
}

button {
    width: 150px;
}
#bio-button {
    width: 300px;
}
a {
    z-index: 1;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    position: relative;
    font-weight: 400;
    font-size: 20px;
    top: 10px;
    left: 0px;
    width: 350px;
    color: rgb(247, 214, 211);
}
#findmusicians {
    position: fixed;
    font-family: "Druk Wide Cy Web";
    text-align: start;

    color: ghostwhite;
    left: 240px;

    width: 200px;
}
#stalkpeople {
    position: fixed;
    color: ghostwhite;
    font-family: "Druk Wide Cy Web";

    top: 10px;
    left: 130px;
    width: 250px;

    font-size: 20px;
}

#friendsandwannabes {
    position: fixed;
    color: ghostwhite;
    font-family: "Druk Wide Cy Web";
    text-align: start;

    top: 10px;
    left: 340px;
    font-size: 20px;
    width: 230px;
}
#yourprofile {
    position: fixed;
    color: ghostwhite;
    font-family: "Druk Wide Cy Web";

    top: 8px;
    left: 0px;
    width: 100px;

    font-size: 20px;
}
#cowboyconnect {
    position: fixed;
    top: 100px;
    left: 640px;
    width: 200px;

    font-size: 20px;
}

.add {
    display: flex;
    flex-direction: column;
}
.edit {
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
}

.edit textarea {
    height: 100px;
    background-color: black;
    color: ghostwhite;
    outline: none;
}
.add textarea {
    height: 100px;
    background-color: black;
    color: ghostwhite;
    outline: none;
}

.modal {
    z-index: 50;
    position: fixed;
    align-content: center;
    text-align: center;
    top: 250px;
    right: 30px;
    bottom: 350px;
    width: 310px;
    height: 90px;
    font-size: 19px;
    border-radius: 5px;
    align-items: center;
    background-color: ghostwhite;
    color: black;
    padding-top: 10px;

    /*outline: springgreen solid 2px;*/
}
.modal input {
    position: relative;
    left: 40px;
}

.x {
    position: relative;
    top: 0px;
    right: 0px;
    color: springgreen;
    font-family: "Terminal Grotesque Open";
}
.modalpopup {
    align-content: center;
    text-align: center;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    /*visibility: invisible;*/
}

/*#other-profile {
    position: absolute;
    text-align: center;
    align-content: center;
    top: 50px;
    left: 50px;
    width: 300px;
    height: 300px;
    font-size: 15px;
}*/
#other-profile #profilepic {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 30px;
    left: 0px;
}
#other-profile video {
    position: relative;
    left: 0;
    top: 350px;
}
#other-profile audio {
    position: relative;
    left: 0;
    top: 350px;
}
#collaborations-table {
    position: absolute;
    top: 250px;
    right: 10px;
    width: 400px;
    height: 800px;
}
#collaborations-table #collaborations-text {
    position: relative;
    font-size: 40px;
    text-align: center;
}
#artwork-table {
    display: inline;
    width: 800px;
    left: 0;
}
#other-profile #collaborations {
    position: relative;
    left: 40px;
    top: 20px;
}
#profile-in-profile .profile-name {
    font-size: 28px;
}

#profile-in-profile .profile-pic {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
img.profile-pic {
    border-radius: 50%;
}
#profile-in-profile {
    text-align: center;
    color: blanchedalmond;
}
#profile-in-profile video {
    position: relative;
    left: -100px;
}
#profile-in-profile {
    position: absolute;
    top: 150px;
    left: 700px;
    width: 300px;
    height: 300px;
}
.logout {
    position: fixed;
    top: 150px;
    right: 0;
}
.currentuser .profile-name {
    font-size: 18px;
}
.currentuser {
    position: fixed;
    object-fit: cover;

    top: 0px;
    right: 0px;
    align-content: center;
    text-align: center;
    width: 100px;
    height: 100px;
}

#find-people {
    position: relative;
    text-align: center;
    top: 120px;
    left: 660px;
    width: 260px;
    height: 300px;
}
#find-people input {
    width: 250px;
}
#find-people h1 {
    font-size: 30px;
}
#friends-and-wannabes {
    position: relative;
    top: 120px;
    left: 100px;
    width: 400px;
    text-align: center;
    font-size: 22px;
}
#friends-inside {
    display: flex;
    flex-direction: column;
    align-content: center;
}
#friends-and-wannabes button {
    position: relative;
    width: 250px;
    left: 78px;
    margin-bottom: 5px;
}

#findimage {
    width: 400px;
    height: 400px;
    object-fit: cover;

    padding-top: 5px;
}
#found-people video {
    position: relative;
    left: -4px;
}
#found-people a {
    font-family: "Druk Wide Cy Web";
    font-size: 30px;
    padding-top: 150px;

    text-align: left;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
}
#findtext {
    padding-top: 20px;
    font-size: 22px;
}

#top-right {
    position: absolute;
    top: 0px;
    right: 10px;
    font: 200;
    text-decoration: none;
}

#regforms {
    z-index: 100;
    position: fixed;
    top: 180px;
    left: 350px;
}
#artistormusicanbuttons {
    position: fixed;
    bottom: 50px;
    left: 350px;
}
#loginforms {
    z-index: 100;

    position: fixed;
    top: 180px;
    left: 450px;
}
#resetforms {
    z-index: 100;

    position: fixed;
    top: 180px;
    left: 500px;
}

#linktologin {
    position: fixed;
    top: 250px;
    left: 450px;
    font-size: 18px;
}
#linktologininreset {
    position: fixed;
    top: 250px;
    left: 500px;
    font-size: 18px;
}
#navlinks {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    top: 5px;
    left: 30px;
}
.chat-container {
    height: 300px;
    width: 470px;
    overflow-y: auto;
}
#chat-room {
    position: relative;
    text-align: center;
    top: 170px;
    left: 590px;
    width: 480px;

    background-color: ghostwhite;
    color: black;
}
#chat-room textarea {
    width: 480px;
}
#chat-message {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    padding-top: 8px;
    font-size: 16px;
}
#chat-name {
    text-align: left;
    padding-left: 3px;
    color: royalblue;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 15px;
    font-weight: 500;
}
#created-at {
    text-align: center;
    font-size: 9px;
}
#artist-images {
    position: fixed;
    width: 410px;
    height: 150px;
    font-size: 19px;
    border-radius: 5px;
    align-items: center;
    background-color: ghostwhite;
    color: black;
    left: 10px;
    top: 150px;
}
#music-upload {
    position: fixed;
    width: 410px;
    height: 150px;
    font-size: 19px;
    border-radius: 5px;
    align-items: center;
    background-color: ghostwhite;
    color: black;
    left: 10px;
    top: 400px;
}

#collaborations-upload {
    position: relative;
    align-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 400px;
    height: 175px;
    font-size: 20px;
    border-radius: 5px;
    align-items: center;
    background-color: rgb(200, 200, 245);
    color: black;
}
#collaborations-upload input {
    width: 350px;
}
#collaborations-upload textarea {
    width: 350px;
    height: 60px;
}
#display-video {
    position: relative;
    left: 200px;
}
#display-video video {
    position: absolute;
    left: 500px;
    top: 150px;
}
#display-video h3 {
    position: relative;
    top: 680px;
    left: 620px;
    width: 300px;
}
#display-video h6 {
    position: relative;
    top: 700px;
    left: 600px;
    width: 300px;
    color: violet;
}
#display-collaborations p {
    position: relative;
    top: 580px;
    left: 550px;
}
#display-collaborations #other-profile {
    position: relative;
    left: 0;
}
#display-collaborations #other-profile video {
    position: absolute;
    left: -1185px;
    top: 200px;
}
#display-collaborations #other-profile audio {
    position: absolute;

    left: -180px;
    top: 450px;
}

#display-collaborations #other-profile h1 {
    position: relative;
    font-weight: 100;
    top: 310px;
    left: -130px;
}
#display-collaborations #other-profile h2 {
    position: relative;
    z-index: 100;
    font-weight: 200;
    font-size: 15px;
    top: 320px;
    left: -130px;
}
#other-profile button {
    position: absolute;
    top: 350px;
    left: 76px;
    z-index: 70;
}
#hidebutton {
    background: black;

    width: 175px;
    height: 50px;
    position: absolute;
    top: 380px;
    left: 76px;
    z-index: 100;
}

#display-collaborations #other-profile #collaborations-text {
    display: none;
}
#display-collaborations #other-profile .profile-pic {
    position: absolute;
    width: 300px;
    height: 300px;
    left: -180px;
    top: 10px;
}
#artworkimage {
    position: relative;
    left: 30px;
    top: 0;
}

#find-music {
    width: 400px;
    height: 100px;
}
#find-music a {
    display: flex;
    font-family: "Druk Wide Cy Web";

    flex-direction: column;
    text-align: left;
    content-align: center;
    padding-top: 10px;
    color: cyan;
    position: relative;
}

/*////////ICONS//////////*/
#registrationlinkto {
    position: fixed;
    z-index: 100;
    width: 100;
    height: 100; /*dimensions of image*/
}
#registrationlinkto .object,
#registrationlinkto .linktext {
    transition: opacity 0.5s ease-in-out;
    font-family: "Druk Wide Cy Web";
    z-index: 100;

    width: 300;
    height: 100;
}
#registrationlinkto .linktext {
    position: fixed;
    color: ghostwhite;
    z-index: 100;

    top: 50px;
    left: 20px;
    opacity: 0;
}

#registrationlinkto:hover .object {
    opacity: 0;
}
#registrationlinkto:hover .linktext {
    opacity: 1;
}
#linkto {
    z-index: 100;

    position: fixed;
    font-family: "Druk Wide Cy Web";
    top: 100px;
    width: 100;
    height: 100; /*dimensions of image*/
}
#linkto .object,
#linkto .linktext {
    z-index: 100;

    transition: opacity 0.5s ease-in-out;
    color: ghostwhite;

    width: 300;
    height: 100;
}
#linkto .linktext {
    z-index: 100;

    position: absolute;
    top: 30px;
    left: 20px;
    opacity: 0;
}

#linkto:hover .object {
    opacity: 0;
}
#linkto:hover .linktext {
    opacity: 1;
}
#newlinkto {
    z-index: 100;

    position: fixed;
    font-family: "Druk Wide Cy Web";
    top: 0px;
    width: 100;
    height: 100; /*dimensions of image*/
}
#newlinkto .object,
#newlinkto .linktext {
    z-index: 100;

    transition: opacity 0.5s ease-in-out;
    color: ghostwhite;
    font-size: 17px;
    width: 300;
    height: 100;
}
#newlinkto .linktext {
    z-index: 100;

    position: absolute;
    top: 30px;
    left: 20px;
    opacity: 0;
}

#newlinkto:hover .object {
    opacity: 0;
}
#newlinkto:hover .linktext {
    opacity: 1;
}
