* {
    margin: 0;
}
body {
    /* align-content: center;
    justify-content: center;
    grid-template-rows: 500px;
    grid-template-columns: 1fr 1fr 1fr;*/

    background-color: rgb(0, 0, 0);
    color: ghostwhite;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: -1.8px;
}
@font-face {
    font-family: "Terminal Grotesque Open";
    src: url("TerminalGrotesque-Open.woff2") format("woff2"),
        url("TerminalGrotesque-Open.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Druk Wide Cy Web";
    src: url("DrukWideCyWeb-Bold.woff2") format("woff2"),
        url("DrukWideCyWeb-Bold.woff") format("woff"),
        url("DrukWideCyWeb-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    text-transform: uppercase;
}
audio {
    filter: pink(80%) saturate(70%) grayscale(10) contrast(99%) invert(12%);
    font-family: "Terminal Grotesque Open";
    border-radius: 0%;
    width: 400px;
    height: 35px;
}
h1 {
    font-size: 35px;
}
#line {
    position: fixed;
    top: 300px;
    width: 100%;
    z-index: 10;
}
#chat-room h1 {
    font-family: "Terminal Grotesque Open";
    font-size: 40px;
    letter-spacing: -1.5px;
    padding-top: 5px;
}
#backgroundimage {
    position: fixed;
    top: 3px;
    left: 0;
}
#backgroundimage:hover {
    -webkit-filter: invert(100%) !important;
}
.background3:hover {
    -webkit-filter: invert(100%) !important;
}
.background3 {
    position: fixed;
    top: 0;
    left: 0;
}

#logo {
    position: fixed;
    text-align-last: center;
    font-family: Arial, Helvetica, sans-serif;
    top: 8px;
    left: 510px;
}
#logoinwelcome {
    position: fixed;
    top: 10px;
    left: 350px;
}

button {
    width: 150px;
}
#bio-button {
    width: 300px;
}
a {
    z-index: 1;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    position: relative;
    font-weight: 400;
    font-size: 20px;
    top: 10px;
    left: 0px;
    width: 350px;
    color: rgb(247, 214, 211);
}

#stalkpeople {
    position: fixed;
    top: 10px;
    left: 200px;
    width: 250px;

    font-size: 20px;
}

#friendsandwannabes {
    position: fixed;
    top: 100px;
    left: 826px;
    font-size: 20px;
    width: 230px;
}
#yourprofile {
    position: fixed;
    top: 100px;
    left: 1040px;
    width: 150px;

    font-size: 20px;
}
#cowboyconnect {
    position: fixed;
    top: 100px;
    left: 640px;
    width: 200px;

    font-size: 20px;
}

.add {
    display: flex;
    flex-direction: column;
}
.edit {
    display: flex;
    flex-direction: column;
}

.edit textarea {
    height: 100px;
}

/*#profilepic {
    position: fixed;
    top: 30px;
    right: 30px;
}*/

.modal {
    z-index: 1;
    position: fixed;
    align-content: center;
    text-align: center;
    top: 150px;
    left: 630px;
    bottom: 350px;
    width: 400px;
    height: 200px;
    background-color: ghostwhite;
    color: black;
    padding-top: 10px;

    font-size: 40px;
    font-family: "Terminal Grotesque Open";
    outline: springgreen solid 2px;
}
.modal h2 {
    padding-top: 30px;
}

.x {
    position: fixed;
    top: 160px;
    right: 360px;
    color: springgreen;
    font-family: "Terminal Grotesque Open";
}
.modalpopup {
    align-content: center;
    text-align: center;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    /*visibility: invisible;*/
}

#other-profile {
    position: absolute;
    text-align: center;
    align-content: center;
    top: 50px;
    left: 50px;
    width: 300px;
    height: 300px;
    font-size: 15px;
}
#profile-in-profile .profile-name {
    font-size: 28px;
}

#profile-in-profile .profile-pic {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
#profile-in-profile {
    text-align: center;
    color: blanchedalmond;
}
.currentuser .profile-name {
    font-size: 18px;
}
.currentuser {
    position: fixed;
    object-fit: cover;

    top: 0px;
    right: 0px;
    align-content: center;
    text-align: center;
    width: 200px;
    height: 200px;
}

#find-people {
    position: relative;
    text-align: center;
    top: 120px;
    left: 660px;
    width: 260px;
    height: 300px;
}
#find-people input {
    width: 250px;
}
#find-people h1 {
    font-size: 30px;
}
#friends-and-wannabes {
    position: relative;
    top: 120px;
    left: 550px;
    width: 200px;
    text-align: center;
    font-size: 22px;
}
#findimage {
    width: 250px;
    height: 250px;
    object-fit: cover;

    padding-top: 5px;
}
#found-people a {
    font-family: "Druk Wide Cy Web";
    font-size: 35px;
    padding-top: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 200px;
}
#findtext {
    padding-top: 20px;
    font-size: 22px;
}

#profile-in-profile {
    position: absolute;
    top: 150px;
    right: 400px;
    width: 300px;
    height: 300px;
}
#top-right {
    position: absolute;
    top: 0px;
    right: 10px;
    font: 200;
    text-decoration: none;
}

#regforms {
    position: fixed;
    top: 150px;
    left: 350px;
}
#artistormusicanbuttons {
    position: fixed;
    bottom: 50px;
    left: 350px;
}
#loginforms {
    position: fixed;
    top: 150px;
    left: 450px;
}
#resetforms {
    position: fixed;
    top: 150px;
    left: 500px;
}
#linkto {
    position: fixed;
    bottom: 10px;
    left: 350px;
    font-size: 10px;
}
#linktologin {
    position: fixed;
    top: 250px;
    left: 450px;
    font-size: 18px;
}
#linktologininreset {
    position: fixed;
    top: 250px;
    left: 500px;
    font-size: 18px;
}
#navlinks {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    top: 5px;
    left: 30px;
}
.chat-container {
    height: 300px;
    width: 470px;
    overflow-y: auto;
}
#chat-room {
    position: relative;
    text-align: center;
    top: 170px;
    left: 590px;
    width: 480px;

    background-color: ghostwhite;
    color: black;
}
#chat-room textarea {
    width: 480px;
}
#chat-message {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    padding-top: 8px;
    font-size: 16px;
}
#chat-name {
    text-align: left;
    padding-left: 3px;
    color: royalblue;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 15px;
    font-weight: 500;
}
#created-at {
    text-align: center;
    font-size: 9px;
}
#artist-images {
    position: fixed;
    display: flex;
    flex-direction: row;
    left: 10px;
    top: 300px;
}
#music-upload {
    position: fixed;
    left: 10px;
    top: 400px;
}
#artworkimage {
    position: relative;
    left: 30px;
    top: 0;
}
#findmusicians {
    position: fixed;
    color: cyan;
    width: 200px;
}
#find-music {
    width: 400px;
    height: 100px;
}
#find-music a {
    display: flex;
    font-family: "Druk Wide Cy Web";

    flex-direction: column;
    text-align: left;
    content-align: center;
    padding-top: 10px;
    color: cyan;
    position: relative;
}
select {
    font-family: "Terminal Grotesque Open";
    font-size: 17px;
    width: 200px;
    height: 20px;
}
